# Node.js
node_modules/

# Next.js build output
.next/
packages/frontend/.next/

# Hono build output
packages/api/dist

# TypeScript
*.tsbuildinfo
packages/frontend/*.tsbuildinfo

# Local env files
.env

# OS
.DS_Store

# その他
*.log 
/packages/frontend/app/generated/prisma
